# Core Data Libraries
pandas==2.2.2
numpy==1.26.4
python-dateutil==2.9.0.post0
pytz==2024.1

# Backtesting / Technical Analysis
pandas_ta==0.3.14b0
tqdm==4.66.2

# Plotting / Visualization
matplotlib==3.9.0
plotly==5.22.0

# Notebooks
jupyter==1.0.0

# Trading APIs (Optional)
MetaTrader5==5.0.45
oandapyV20==0.7.2
